<table id="example1" class="table table-bordered table-hover table-article">
  <thead>
    <tr>
      <th>No.</th>
      <th>Kategori</th>
      <th>Judul</th>
      <th>Admin</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < getAllArticle.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= getAllArticle[i]?.Category?.name %></td>
      <td><%= getAllArticle[i].title %></td>
      <td><%= getAllArticle[i]?.Account?.name %></td>
      <td>
        <a href="/kelas/edit/<%= getAllArticle[i].id %>" class="btn btn-info btn-sm">
          <i class="fas fa-pencil-alt"></i>
          Ubah
        </a>
        <a href="/article/detail/<%= getAllArticle[i].id %>" class="btn btn-success btn-sm">
          <i class="fa fa-clipboard"></i>
          Detail
        </a>
        <!-- <form action="/article/delete/<%#= getAllArticle[i].id %>?_method=DELETE" method="post"> -->
        <a
          href="javascript:void()"
          type="button"
          class="btn btn-danger btn-sm button-delete-article"
          data-id="<%= getAllArticle[i].id %>"
        >
          <i class="fas fa-trash-alt"></i>
          Hapus
        </a>
        <!-- </form> -->
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
