<table id="example1" class="table table-bordered table-hover table-consultation">
  <thead>
    <tr>
      <th>No.</th>
      <th>Penanya</th>
      <th>Pertanyaan</th>
      <th>Jawaban</th>
      <th>Dokter</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < getConsultationData.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= getConsultationData[i].asker %></td>
      <td><%= getConsultationData[i].question %></td>
      <td>
        <% if (getConsultationData[i].answer === null) { %>
        <span class="badge badge-danger">
          <!-- <i class="fa-solid fa-xmark"></i> -->
          Belum dijawab
        </span>
        <% } else {%>
        <span class="badge badge-success">
          <i class="fas fa-check"></i>
          Sudah dijawab
        </span>
        <% } %>
      </td>
      <td><%= getConsultationData[i]?.account?.name %></td>
      <td>
        <a href="/consultation/detail/<%= getConsultationData[i].id %>" class="btn btn-info btn-sm">
          <i class="fas fa-pencil-alt"></i>
          Detail
        </a>
        <form action="/kelas/hapus/<%= getConsultationData[i].id %>?_method=DELETE" method="post">
          <a
            href="javascript:void()"
            type="button"
            class="btn btn-danger btn-sm button-delete-consultation"
            data-id="<%= getConsultationData[i].id %>"
          >
            <i class="fas fa-trash-alt"></i>
            Hapus
          </a>
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
