<table id="example1" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Nama</th>
      <th>Username</th>
      <th>Role</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i = 0; i < account.length; i++) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= account[i].name %></td>
      <td><%= account[i].username %></td>
      <td><%= account[i].role %></td>
      <td>
        <% if (account[i].status === 'Aktif') { %>
        <span class="badge badge-success"> <%= account[i].status %> </span>
        <% } else {%>
        <span class="badge badge-danger"> <%= account[i].status %> </span>
        <% } %>
      </td>
      <td>
        <form action="/kategori/hapus/<%#= kategori[i].id %>?_method=DELETE" method="post">
          <a href="/kategori/edit/<%#= kategori[i].id %>" class="btn btn-info btn-sm">
            <i class="fas fa-pencil-alt"></i>
            Ubah
          </a>
          <a
            href="javascript:void()"
            type="button"
            class="btn btn-danger btn-sm button-delete"
            data-id="<%= account[i].id %>"
          >
            <i class="fas fa-trash-alt"></i>
            Hapus
          </a>
          <!-- <button class="btn btn-danger btn-sm">
              <i class="fas fa-trash-alt"></i>
              Hapus
            </button> -->
        </form>
      </td>
    </tr>
    <% } %>
  </tbody>
</table>
